{% extends 'base.html.twig' %}

{% block title %}{{ acquisitionSystem.name }}{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<link rel="stylesheet" href="{{ asset('css/roomData.css') }}">

<div class="page-wrapper d-inline-flex">
    <div class="sidebar">
        <img src="{{ asset('images/logo.png') }}" alt="Logo" />
    </div>

    <div class="content" style="flex-grow: 1;">
        <h2>Aquisition system | {{ acquisitionSystem.name }}</h2>

        {# Bouton Retour #}
        <a href="{{ path('app_admin_dashboard') }}" class="btn btn-custom-secondary back"><i class="fa-solid fa-left-long"></i> Retour</a>

        <div class="panel shadow">
            <label for="as-name" class="form-label">Identifiant</label>
            <div class="row d-flex px-2" style="width: 512px;">
                <div class="flex-grow-1 mr-2">
                    <input type="text" name="as-name" class="form-control" value="{{ acquisitionSystem.name }}">
                </div>
                <button class="btn btn-primary btn-custom-success mx-0"><i class="fa-solid fa-check"></i> VALIDER</button>
            </div>

            <div class="row" style="width: 512px;">
                <div class="flex-grow-1 px-2">
                    <label for="as-room" class="form-label mt-3">Salle</label>
                    <select name="as-room" id="" class="form-control">
                        <option value="D001">D001</option>
                        <option value="D002">D002</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}
