{% extends 'base.html.twig' %}

{% block title %}{{ acquisitionSystem.name }}{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<link rel="stylesheet" href="{{ asset('css/roomData.css') }}">

<div class="page-wrapper d-inline-flex">
    <div class="sidebar">
        <img src="{{ asset('images/logo.png') }}" alt="Logo" />
    </div>

    <div class="content" style="flex-grow: 1;">
        <h2>Aquisition system | {{ acquisitionSystem.name }}</h2>

        {# Bouton Retour #}
        <a href="{{ path('app_admin_dashboard') }}" class="btn btn-custom-secondary back"><i class="fa-solid fa-left-long"></i> Retour</a>

        <div class="panel shadow">

            {% for e in form_errors %}
                <div class="alert alert-danger">{{ e.message }}</div>
            {% endfor %}

            {{ form_start(form) }}
                           
                <div class="form-group">
                    {{ form_label(form.name, 'Identifiant') }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.room, 'Salle associée') }}
                    {{ form_widget(form.room, {'attr': {'class': 'form-control', 'value': acquisitionSystem.room.name | default(null) }}) }}
                </div>

            {{ form_rest(form) }}

            <button type="submit" class="btn btn-custom-success"><i class="fa-solid fa-check"></i> VALIDER</button>

            {{ form_end(form) }}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}
