{% extends 'base.html.twig' %}

{% block title %}Ajouter un Département{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/adminDashboard.css') }}">

    <div class="page-wrapper d-inline-flex">
        
        {% include 'components/navbar.html.twig' %}

        <div class="content" style="flex-grow: 1;">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6 panel shadow">
                        <h1 class="text-center mb-4">Ajouter un Département</h1>

                        {# Affichage des erreurs du formulaire #}
                        {% for error in errors %}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {% endfor %}

                        {{ form_start(form) }}

                        <div class="form-group">
                            {{ form_row(form.name, {'attr': {'class': 'form-control'}, 'label': 'Nom du Département'}) }}
                        </div>

                        {{ form_rest(form) }}

                        <button type="submit" class="btn custom-btn custom-btn-primary btn-block mt-3"><i class="fa-solid fa-floppy-disk"></i> Enregistrer</button>
                        <a href="#" onclick="history.back();" class="btn custom-btn btn-custom-danger btn-block mt-2"><i class="fa-solid fa-xmark"></i> Annuler</a>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/flashMessageHandler.js') }}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}
