{% extends 'base.html.twig' %}

{% block title %}Ajouter une Salle{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/adminDashboard.css') }}">

    {% include 'components/navbar.html.twig' %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 panel shadow">
                <h1 class="text-center mb-4">Ajouter une Salle</h1>

                {% for error in errors %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endfor %}

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.name, 'Nom de la salle') }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.floor, 'Étage') }}
                    {{ form_widget(form.floor, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.department, 'Département') }}
                    {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
                </div>

                {{ form_rest(form) }}

                <button type="submit" class="btn custom-btn custom-btn-primary btn-block mt-3"><i
                            class="fa-solid fa-floppy-disk"></i> Enregistrer
                </button>
                <a href="{{ path('app_admin_edit_departments') }}"
                   class="btn custom-btn btn-custom-success btn-block mt-2"><i class="fa-solid fa-pencil"></i> Modifier
                    les départements</a>
                <a href="{{ path('app_admin_dashboard') }}" class="btn custom-btn btn-custom-danger btn-block mt-2"><i
                            class="fa-solid fa-xmark"></i> Annuler</a>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/flashMessageHandler.js') }}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}
