{# templates/admin/assignAcquisitionSystem.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Attribution du Système d'Acquisition{% endblock %}

{% block body %}
    <h1>Attribution du Système d'Acquisition à la Salle</h1>

    {% if form_errors(form) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <form method="post" action="{{ path('app_admin_assign_acquisition_system', {'roomId': roomId}) }}">
        {{ form_start(form) }}
        
        {{ form_row(form.name) }}
        {{ form_row(form.room) }}
        
        <button type="submit" class="btn btn-primary">Attribuer</button>

        {{ form_end(form) }}
    </form>
    
    <a href="{{ path('app_admin_room', {'id': roomId}) }}" class="btn btn-custom-secondary mt-3">Retour à la Salle</a>
{% endblock %}
