{% extends 'base.html.twig' %}

{% block title %}Hello Admin{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/adminDashboard.css') }}">


    {# Ajoutez votre navbar ici selon la structure de votre base.html.twig #}
    <div class="page-wrapper d-inline-flex">
        <div class="sidebar">
            <img src="{{ asset('images/logo.png') }}" alt="Logo" />
        </div>

        <div class="content" style="flex-grow: 1;">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6 panel">
                        <h1 class="text-center mb-4">Modifier une Salle</h1>

                        {% for error in errors %}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {% endfor %}

                        {{ form_start(form, {'attr': {'class': 'rounded-panel'}}) }}

                        <div class="form-group">
                            {{ form_label(form.name, 'Nom de la Salle') }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group mt-3">
                            {{ form_label(form.floor, 'Étage') }}
                            {{ form_widget(form.floor, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        {{ form_rest(form) }}

                        <button type="submit" class="btn custom-btn custom-btn-primary btn-block mt-3"><i class="fa-solid fa-pencil"></i> Modifier</button>
                        <a href="{{ path('app_admin_dashboard') }}" class="btn custom-btn btn-custom-danger btn-block mt-2"><i class="fa-solid fa-xmark"></i> Annuler</a>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/flashMessageHandler.js') }}"></script>

{% endblock %}
