{% extends 'base.html.twig' %}

{% block title %}Salle - {{ room.name }}{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<link rel="stylesheet" href="{{ asset('css/adminDashboard.css') }}">

    <h2>◩ Salle - {{ room.name }} - Étage {{ room.floor }} </h2>

    <div class="flex">
        <div class="panel">
            Vue d'ensemble
            <div class="row">
                <div class="col-1 alert alert-danger mx-2 mt-3">/!\ D302</div>
                <div class="col-1 alert alert-warning mx-2 mt-3">/!\ D302</div>
                <div class="col-1 alert alert-danger mx-2 mt-3">/!\ D302</div>
                <div class="col-1 alert alert-danger mx-2 mt-3">/!\ D302</div>
            </div>
        </div>
    </div>

    <div class="flex">
        <div class="panel">
            Systèmes d'acquisition - {{ acquisitionSystem.name }}
            {# Affichage des capteurs associés au système d'acquisition #}
            <div class="row">
                <div class="col-1 text-center alert alert-danger mx-2 mt-3">
                    {% for sensor in acquisitionSystem.sensors %}
                        {{ sensor.name }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
