{% extends 'base.html.twig' %}

{% block title %}Salle - {{ room.name }}{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/roomData.css') }}">

    {% include 'components/navbar.html.twig' %}

    <div class="title-bar d-flex align-items-center">

        <a href="{{ path('app_admin_dashboard') }}" class="btn btn-custom-secondary back mr-3"><i
                    class="fa-solid fa-left-long"></i> Retour</a>

        <span>
                    Salle {{ room.name }} - Étage {{ room.floor }}
            {% if room.department is not null %}
                - Département {{ room.department.name }}
            {% endif %}
                </span>

        <div class="ml-auto">

            {# Bouton modifier salle #}
            <a href="{{ path('app_admin_edit_room', {'id': room.id}) }}" class="btn btn-custom-success mx-2 my-4"><i
                        class="fa-solid fa-pencil"></i> <span class="text-button">Modifier la salle</span></a>

            {# Bouton supprimer Salle #}
            {% include 'components/buttons/deleteRoom.html.twig' %}

        </div>

        <script>
            window.addEventListener('scroll', function() {
                var titleBar = document.querySelector('.title-bar');
                var navbarHeight = 80;

                if (window.scrollY > navbarHeight) {
                    titleBar.classList.add('fixed-title-bar');
                } else {
                    titleBar.classList.remove('fixed-title-bar');
                }
            });
        </script>
    </div>

    {% include 'components/flashAlerts.html.twig' %}

    <div class="panel shadow">
        Vue d'ensemble - {{ acquisitionSystem.name | default('Aucun système d\'acquisition associé') }}

        {# Afficher le contenu uniquement s'il y a un système d'acquisition associé #}
        {% if acquisitionSystem is not null %}

            {% if acquisitionSystem.isInstalled %}

                {# Bouton Désattribuer le système d'acquisition #}
                {% include 'components/buttons/unassignAS.html.twig' %}

                {% include 'components/currentRoomData.html.twig' %}

            {% else %}

                {# Bouton Désattribuer le système d'acquisition #}
                {% include 'components/buttons/unassignAS.html.twig' %}

                {# Afficher un message si le système est assigné mais pas installé #}
                <div class="alert alert-warning mt-3" role="alert">
                    Le système d'acquisition est assigné, mais il n'est pas encore installé par le technicien.
                </div>

            {% endif %}

        {% else %}

            {# Affichez le formulaire de sélection du système d'acquisition #}
            <div class="row mt-3">
                <div class="col">
                    <h4>Attribuer un système d'acquisition</h4>
                    {# Affichez le formulaire de sélection du système d'acquisition #}
                    {{ form_start(form) }}
                    {{ form_widget(form.acquisitionSystem, {'attr': {'class': 'form-control'}}) }}
                    <button type="submit" class="btn custom-btn-primary mt-2"><i class="fa-solid fa-link"></i> Attribuer</button>
                    {{ form_end(form) }}
                </div>
            </div>

        {% endif %}
    </div>

    {# Afficher le contenu uniquement s'il y a un système d'acquisition associé #}
    {% if acquisitionSystem is not null %}
        {% if acquisitionSystem.isInstalled %}

            <form class="panel shadow mt-4" id="dataLimitForm" action="{{ path('app_admin_room', {'id': room.id}) }}" method="get">
                <label for="dataLimit">Plage de données visibles</label>
                <select class="form-control" id="dataLimit" name="dataLimit">
                    <option value="864" {% if app.request.query.get('dataLimit') == '864' %}selected{% endif %}>Dernières 24 heures</option>
                    <option value="2592" {% if app.request.query.get('dataLimit') == '2592' %}selected{% endif %}>Derniers 3 jours</option>
                    <option value="6048" {% if app.request.query.get('dataLimit') == '6048' %}selected{% endif %}>Dernière semaine</option>
                </select>
            </form>

            {# Block des graphiques de données #}
            {% include 'components/roomDataCharts.html.twig' %}

            {# Block d'historique des données #}
            {% include 'components/roomDataHistory.html.twig' %}
            
        {% endif %}
    {% endif %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            // Récupérer la valeur de dataLimit depuis le stockage local
            var savedDataLimit = localStorage.getItem('dataLimit');

            // Définir la valeur par défaut de la liste déroulante
            if (savedDataLimit) {
                $('#dataLimit').val(savedDataLimit);
            }

            // Mettre à jour la valeur de la liste déroulante lorsqu'elle change
            $('#dataLimit').on('change', function () {
                // Soumettre automatiquement le formulaire lorsque la valeur change
                $('#dataLimitForm').submit();
            });
        });
    </script>

{% endblock %}
