<div class="title-bar">
    <a href="{{ path('app_admin_dashboard') }}" class="btn btn-custom-secondary back"><i class="fa-solid fa-left-long"></i> Retour</a>
    Salle - {{ room.name }} - Étage {{ room.floor }}

    {% if room.department is not null %}
        - Département {{ room.department.name }}
    {% endif %}

    <a href="{{ path('app_admin_edit_room', {'id': room.id}) }}"><button type="button" class="btn btn-custom-success mx-2 my-4"><i class="fa-solid fa-pencil"></i> Modifier la salle</button></a>

    {# Bouton Supprimer la salle #}
    {% include 'components/buttons/deleteRoom.html.twig' %}
</h2>