<div class="panel shadow mt-4">
    <div class="mt-2">
        <h2>Visualisation des données</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="chart-container" style="flex: 1">
                    <canvas id="temperatureChart" style="width: 100%"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                <div class="chart-container" style="flex: 1">
                    <canvas id="co2Chart" style="width: 100%"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                <div class="chart-container" style="flex: 1">
                    <canvas id="humidityChart" style="width: 100%"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel shadow mt-4">
    <div class="mt-2">
        <h2>Toutes les données</h2>
        <table class="table table-stripe">
            <thead class="thead-dark">
                <tr>
                    <th>Date de Capture</th>
                    <th>Température (°C)</th>
                    <th>CO2 (ppm)</th>
                    <th>Humidité (%)</th>
                </tr>
            </thead>
            <tbody>
                {% set dataByDate = {} %}
                {% for value in data %}
                    {% set currentDate = value.dateCapture|date('Y-m-d H:i:s') %}
                    {% if attribute(dataByDate, currentDate) is not defined %}
                        {% set dataByDate = dataByDate|merge({(currentDate): {'temperature': null, 'co2': null, 'humidity': null, (value.nom): value.valeur}}) %}
                    {% else %}
                        {% set currentData = attribute(dataByDate, currentDate) %}
                        {% set currentData = currentData|merge({(value.nom): value.valeur}) %}
                        {% set dataByDate = dataByDate|merge({(currentDate): currentData}) %}
                    {% endif %}
                {% endfor %}

                {# Récupération des 12 dernières données
                {% set last12Data = dataByDate|slice(0, 12) %} #}

                {% for currentDate, values in dataByDate %}
                    <tr>
                        <td>{{ currentDate }}</td>
                        <td>{{ values['temperature'] is not null ? values['temperature'] ~ ' °C' : 'N/A' }}</td>
                        <td>{{ values['co2'] is not null ? values['co2'] ~ ' ppm' : 'N/A' }}</td>
                        <td>{{ values['humidity'] is not null ? values['humidity'] ~ ' %' : 'N/A' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune donnée disponible.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var labels = [];
        var temperatureData = [];
        var co2Data = [];
        var humidityData = [];

        {% for currentDate, values in dataByDate %}
            labels.push('{{ currentDate|date('Y-m-d H:i') }}');
            temperatureData.push({{ values['temperature'] is not null ? values['temperature'] : 'null' }});
            co2Data.push({{ values['co2'] is not null ? values['co2'] : 'null' }});
            humidityData.push({{ values['humidity'] is not null ? values['humidity'] : 'null' }});
        {% endfor %}

        // Inverser l'ordre des données
        labels.reverse();
        temperatureData.reverse();
        co2Data.reverse();
        humidityData.reverse();

        createCharts(labels, temperatureData, co2Data, humidityData);
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ asset('js/roomDataCharts.js') }}"></script>
