<div class="d-flex flex-column panel shadow flex-grow-1" style="flex-basis: 0">
    <div class="mb-3">
        <div class="fs-5">Notifications</div>
    </div>
    <ul class="mt-3">
        {% if notifications | length > 0 %}
            {% for notification in notifications %}

                {# Affiche le texte de la notification limité à 100 characteres #}
                <li data-bs-toggle="modal" data-bs-target="#test{{loop.index}}" style="border-color: rgba(0, 184, 148, {{ notification.isRead ? '0' : '1' }}); color: black;" >
                    {{ notification.text | length > 100 ? notification.text|slice(0, 100) ~ '...' : notification.text }}
                </li>

                {# Modale contenant plus de détails sur la notification #}
                <div class="modal" tabindex="-1" id="test{{loop.index}}" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Notification</h5>
                    </div>
                    <div class="modal-body">
                            <p><strong>{{ notification.room.name }}</strong> - <i>{{ notification.creationDate | date("d/m/Y - H:i") }}</i></p>
                        <p>{{ notification.text }}</p>
                    </div>
                    <div class="modal-footer">
                        {% if not notification.isRead %}
                            <a href="{{ path('app_notification_read', {'id': notification.id}) }}">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </a>
                        {% else %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        {% endif %}
                    </div>
                    </div>
                </div>
                </div>

            {% endfor %}
        {% else %}
            <p>Aucune notification</p>
        {% endif %}
    </ul>
</div>