<div class="col panel shadow lists" id="OP-List">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="fs-5">Opérations à effectuer</div>
    </div>
    <ul class="mt-3">
        <!-- Boucle pour afficher chaque système d'acquisition non installé et qui doit l'être -->
        {% for acquisitionSystem in acquisitionSystems %}
            {% if not acquisitionSystem.isInstalled %}
                {% if acquisitionSystem.state == 1 %}
                    <li class="acquisition-system d-flex justify-content-between align-items-center">
                        <span>{{ acquisitionSystem.name }}</span>
                        <button type="button" class="btn btn-custom-success" data-toggle="modal" data-target="#confirmInstallModal-{{acquisitionSystem.id}}"><i class="fa-solid fa-plus"></i> Installer</button>
                    </li>
                {% endif %}
            {% endif %}

            <!-- Modal confirmation -->
            <div class="modal fade" id="confirmInstallModal-{{acquisitionSystem.id}}" tabindex="-1" role="dialog" aria-labelledby="confirmInstallModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmInstallModalLabel">Confirmation d'installation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir installer le système d'acquisition ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-custom-danger" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-custom-success" onclick="window.location.href = '{{ path('app_tech_install_acquisition_system', {'id': acquisitionSystem.id}) }}'"><i class="fa-solid fa-plus"></i> Installer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if acquisitionSystems|filter(a => a.state == 0)|length == acquisitionSystems|length %}
            <!-- Affiche un message si aucun systèmes d'acquisition n'a d'opération à effectuer -->
            <p>Tous les systèmes d'acquisition sont installés.</p>
        {% else %}
            <!-- Ajouter une ligne de séparation -->
            <hr class="y-4" style="border-top: 2px solid #000;">
        {% endif %}

        <!-- Boucle pour afficher chaque système d'acquisition installé et qui doit être désinstallé -->
        {% for acquisitionSystem in acquisitionSystems %}
            {% if acquisitionSystem.isInstalled %}
                {% if acquisitionSystem.state == 2 %}
                    <li class="acquisition-system d-flex justify-content-between align-items-center red-border">
                        <span>{{ acquisitionSystem.name }}</span>
                        <button type="button" class="btn btn-custom-danger" data-toggle="modal" data-target="#confirmUninstallModal-{{acquisitionSystem.id}}"><i class="fa-solid fa-minus"></i> Désinstaller</button>
                    </li>
                {% endif %}
            {% endif %}

            <!-- Modal confirmation -->
            <div class="modal fade" id="confirmUninstallModal-{{acquisitionSystem.id}}" tabindex="-1" role="dialog" aria-labelledby="confirmUninstallModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmUninstallModalLabel">Confirmation de désinstallation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir désinstaller le système d'acquisition ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-custom-danger" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-custom-success" onclick="window.location.href = '{{ path('app_tech_uninstall_acquisition_system', {'id': acquisitionSystem.id}) }}'"><i class="fa-solid fa-minus"></i> Désinstaller</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
</div>