{% set lastTemp = null %}
{% set lastCo2 = null %}
{% set lastHum = null %}

{% for value in data %}
    {% if value.nom == "temp" and lastTemp == null %}
        {% set lastTemp = value %}
    {% elseif value.nom == "co2" and lastCo2 == null %}
        {% set lastCo2 = value %}
    {% elseif value.nom == "hum" and lastHum == null %}
        {% set lastHum = value %}
    {% endif %}
{% endfor %}

<div class="mt-1">
    {# Afficher le message une seule fois en haut de la page #}
    {% if lastTemp is not null and lastTemp.dateCapture is not null %}
        {% set temperatureDate = lastTemp.dateCapture|date('Y-m-d H:i:s') %}
        {% set currentDateTime = 'now'|date('Y-m-d H:i:s') %}
        {% set temperatureDifference = currentDateTime|date('U') - temperatureDate|date('U') %}

        {% if temperatureDifference > 330 %} {# 5 minutes et 30 secondes #}
            <p class="my-0 text-danger"><i class="fa-solid fa-exclamation-triangle"></i> Les données ne sont pas actuelles et datent du {{ lastTemp.dateCapture|date('Y-m-d') }} à {{ lastTemp.dateCapture|date('H:i:s') }}</p>
        {% endif %}
    {% endif %}
</div>

<div class="row mt-1 d-flex justify-content-start">
    {# Afficher les dernières valeurs de température, CO2 et humidité #}
    {% if lastTemp.valeur is not null %}
        <div class="value-container mt-2 p-0 border-0 rounded
            {% if lastTemp.valeur is null or lastTemp.valeur < -20 or lastTemp.valeur > 50 %}
            red
            {% elseif lastTemp.valeur > 21 and lastTemp.valeur < 24 %}
            orange
            {% elseif lastTemp.valeur >= 24 %}
            red
            {% elseif lastTemp.valeur > 16 and lastTemp.valeur < 17 %}
            orange
            {% elseif lastTemp.valeur <= 16 %}
            red
            {% else %}
            normal
            {% endif %}
            ">
            <div class="icon-container rounded-left">
                <img src="{{ asset('images/icon_temperature.png') }}" alt="Logo Temp" class="img-fluid p-2">
            </div>

            <div class="value d-flex-columns align-items-center">
                <p class="my-0" style="font-size: 22pt">{{ lastTemp.valeur }}°C</p>
                <p class="my-0">
                    {% if lastTemp.valeur is null or lastTemp.valeur < -20 or lastTemp.valeur > 50 %}
                        N/A
                    {% elseif lastTemp.valeur > 21 and lastTemp.valeur < 24 %}
                        Élevé
                    {% elseif lastTemp.valeur >= 24 %}
                        Très Élevé
                    {% elseif lastTemp.valeur > 16 and lastTemp.valeur < 17 %}
                        Faible
                    {% elseif lastTemp.valeur <= 16 %}
                        Très Faible
                    {% else %}
                        Normal
                    {% endif %}
                </p>
            </div>
        </div>
    {% endif %}

    {% if lastCo2.valeur is not null %}
        <div class="value-container mt-2 p-0 border-0 rounded
            {% if lastCo2.valeur is null or lastCo2.valeur < 0 or lastCo2.valeur > 4000 %}
            red
            {% elseif lastCo2.valeur >= 1500 %}
            red
            {% elseif lastCo2.valeur > 1000 and lastCo2.valeur < 1500 %}
            orange
            {% else %}
            normal
            {% endif %}
            ">
            <div class="icon-container rounded-left">
                <img src="{{ asset('images/icon_carbon.png') }}" alt="Logo Temp" class="img-fluid p-2">
            </div>

            <div class="value d-flex-columns align-items-center">
                <p class="my-0" style="font-size: 20pt">{{ lastCo2.valeur }} ppm</p>
                <p class="my-0">
                    {% if lastCo2.valeur is null or lastCo2.valeur < 0 or lastCo2.valeur > 4000 %}
                        N/A
                    {% elseif lastCo2.valeur >=  1500 %}
                        Très Élevé
                    {% elseif lastCo2.valeur > 1000 and lastCo2.valeur < 1500 %}
                        Élevé
                    {% else %}
                        Normal
                    {% endif %}
                </p>
            </div>
        </div>
    {% endif %}

    {% if lastHum.valeur is not null %}
        <div class="value-container mt-2 p-0 border-0 rounded
            {% if lastHum.valeur is null  or lastHum.valeur < 0 or lastHum.valeur > 100 %}
                red
            {% elseif lastHum.valeur >= 70 %}
                red
            {% elseif lastHum.valeur > 60 and lastHum.valeur < 70 %}
                orange
            {% elseif lastHum.valeur > 30 and lastHum.valeur < 40 %}
                orange
            {% elseif lastHum.valeur <= 30 %}
                red
            {% else %}
                normal
            {% endif %}
            ">
            <div class="icon-container rounded-left">
                <img src="{{ asset('images/icon_humidity.png') }}" alt="Logo Hum" class="img-fluid p-2">
            </div>

            <div class="value d-flex-columns align-items-center">
                <p class="my-0" style="font-size: 22pt">{{ lastHum.valeur }}%</p>
                <p class="my-0">
                    {% if lastHum.valeur is null  or lastHum.valeur < 0 or lastHum.valeur > 100 %}
                        N/A
                    {% elseif lastHum.valeur >= 70 %}
                        Très Élevé
                    {% elseif lastHum.valeur > 60 and lastHum.valeur < 70 %}
                        Élevé
                    {% elseif lastHum.valeur > 30 and lastHum.valeur < 40 %}
                        Faible
                    {% elseif lastHum.valeur <= 30 %}
                        Très faible
                    {% else %}
                        Normal
                    {% endif %}
                </p>
            </div>
        </div>
    {% endif %}
</div>