{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">

{% endblock %}

<div class="navbar">
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECHNICIAN') %}
        <a href="{{ path('app_index') }}"><img src="{{ asset('images/smartlogo/logo_3.png') }}" alt="Logo" height="80"></a>
        <a href="{{ path('app_logout') }}"><img src="{{ asset('svg/logout.svg') }}" class="logout" alt="Logout" width="40" height="40"></a>
    {% else %}
        <a href="{{ path('app_user_dashboard') }}"><img src="{{ asset('images/smartlogo/logo_3.png') }}"  alt="Logo" height="80"></a>
        <a href="{{ path('app_index') }}"><img src="{{ asset('svg/login.svg') }}" class="login" alt="Login" width="50" height="50"></a>
    {% endif %}
</div>
